<html> 
  <head>
	<title>myFirstWebpage</title>
	<link type="text/css" href="/css/ui-lightness/jquery-ui-1.8.20.custom.css" rel="stylesheet" />
	<link type="text/css" href="/css/layout.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.20.custom.min.js"></script>
  </head>
  <body background="/background_blue_leaves.jpg">
	<%= yield %>
  </body>
</html>